<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <link rel="manifest" href="<%= process.env.PUBLIC_URL %>/manifest.json">
        <link rel="apple-touch-icon" sizes="180x180" href="<%= process.env.PUBLIC_URL %>/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<%= process.env.PUBLIC_URL %>/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<%= process.env.PUBLIC_URL %>/favicon-16x16.png">
        <link rel="mask-icon" href="<%= process.env.PUBLIC_URL %>/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="<%= process.env.PUBLIC_URL %>/public/main.css">

        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>
        <div id="root"></div>
    </body>
</html>
